@charset "utf-8";
.content {
    margin-left: 300px;
    margin-top: 100px;
    width: 800px;   
}
.para {
    padding-top: 20px;
    border-top: 1px solid #cfcfcf;
    font-size: 20px;
    padding-bottom: 5px;
}
.titlems {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-bottom: 5vh;
    display: block;
}

a {
    color: #3C4790;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    background-color: white;    
}